/* .mainContainer {
  background: rgba(237, 70, 39, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(237, 70, 39, 0.34);
} */

/* .imageContainer {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.image {
  object-fit: cover;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.title {
  flex-grow: 1;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  border: 1px solid #555;
  border-radius: 15px;
  overflow: hidden;
  font-weight: 700;
  margin: 10px 0;
  font-size: large;
  color: black;
} */
